.container{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid;
}

.footer{
    margin-top: 30px;
	background-color: #e62129;
    padding: 0;
    border-top: 4px solid #D60909;
}

.footer .footer-trans{
    font-size: 48px;
    margin-top: 50px;
}

.footer .slogan{
    font-size: 26px;
    color: white;
    margin-bottom: 40px;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer h4{
	font-size: 20px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-weight: 500;
	position: relative;
}

.medsos-part ul li{
    display: inline-block;
    padding: 10px;
}

.medsos-part ul li a{
    color: #bbbbbb;
    transition: all 0.3s ease;
}

.medsos-part ul li a:hover{
    color: #ffffff;
	padding-left: 8px;
}

.footer .row {
    margin-right: 0px;
}

.col {
    box-sizing: border-box;
    padding: 0 80px;
}

.footer span{
    display: inline-block;
    background-color: #bbbbbb;
    height: 1px;
    width: 100%;
    margin: 40px 0;
}

.footer-part ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-part ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-part ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer iframe {
    width: 100%;
}

.box1{
	background:#940107;
    color: white;
    width: 100%;
    margin-top: 30px;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer .part {
        margin-top: 20px;
    }
    .footer-col{
        width: 100%;
    }
}
