@import url(css-reset.css);

@import url(header.css);

@import url(footer.css);

nav {
    background-color:#e62129;
    text-align: center;
    font-size: large;
    
}

nav li {
    display: inline-block;

}

nav a {
    color:  white; /* Warna Text */
    display: inline-block;
    padding: 1.5em; /* Untuk Perbesar Kotak */
    cursor: pointer;
    text-decoration: none; 
    text-align: center;
}

.tengahbawah {
    margin-top: 3%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    font-style: italic;
    font-size: 30px;
    color:black;
    margin-bottom: 3%;
}

.mySlides {
    display: none;
    animation:animasiku 3s;
    transition:left 2s;
}
.w3-left, .w3-right, .w3-badge {
    cursor: pointer;
}
.w3-badge  {
    height: 13px;
    width: 13px;
    padding: 0px;
}

.isi-item1 img {
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 7%;
    /* color: black;
    text-align: center;
    margin-right: 3%;
    background-color:#f4f2f4;
    float: left;
    border-radius: 7px;
    margin-left: 7%; */
}

.isi-item2 {
    color: black;
    text-align: justify;
    margin-right: 3%;
    background-color:#FFFFFF;
    float: center;
    border-radius: 7px;
    margin-left: 3%;
    border: 3px outset red;
    margin-top: 5%;
}

.isi-item2 p {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

.isi-item3 {
    color: black;
    text-align: center;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    background-color:white;
    float: center;
    border-radius: 7px;
    border-top: 6%;
}

.isitengah {
    margin-top: 5%;
    background-color: #FFFFFF;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 7px;
    width: 100px;
    height: 100px;
    border: 3px outset red;
    /* float: center; */

}

.isitengah1 {
    color:black;
    text-align: center;
    box-sizing: border-box;
    float: center;
}

.isitengah1 img {
    width: 90px;
    height: 90px;
    float: left;
    margin-left: 3%;
}


.icon-item, .icon-item2 {
    box-sizing: border-box;
    text-align: center;
}

.icon-item img, .icon-item2 img {
    width: 170px;
    height: 170px;
}

.icon-item h3, .icon-item2 h3 {
    font-size: 30px;
    color: black;
    text-align: center;
    
}

.icon-item p, .icon-item2 p {
    color: black;
    text-align: center;
    font-size: 15px;
}


.flex-testimoni {
    display: flex;
    background-color:#FFFFFF;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px #e62129 outset;
}

.flex-testimoni img {
    height: 200px;
    width: 200px;
    
}

.flex-testimoni > div {
    background-color: #FFFFFF;
    border: 3px #e62129 outset;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    
}

.berita h1{
    font-size: 20px;
}

.berita1 img{
    width: 90%;
    /* height: 280px; */
    margin-left: 11%;
    margin-right: 3%;
    background-color: #FFFFFF;
    border: 3px outset red;
    border-radius: 10px;
    
}

.berita1 p {
    padding-right: 7%;
    text-align: justify;
    margin-bottom: 15%;
    margin-top: 3%;
}


@keyframes animasiku{
    from{
        opacity: 0.4;
    }
    to{
        opacity: 1;
    }
}

.transisiku{
    animation-name: animasiku;
    animation-duration: 2s;
  }