@import url(css-reset.css);

@import url(header.css);

@import url(footer.css);

/* map */

.map {
    text-align: center;
}

.map img {
    width: 90%;
}

/* koridor */

.koridors {
    text-align: center;
}

.koridors p {
    text-align: left;
    margin-left: 100px;
    color: red;
}

.koridor {
    display: inline-block;
    width: 85%;
    padding-bottom: 30px;
    margin: 15px;
    border: 1px solid #E62129;
    border-radius: 0 44px 44px 44px;
    box-shadow: 2px 2px #D60909;
}

.koridor h3 {
    display: block;
    width: 160px;
    background-color: #E62129;
    color: white;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    border-radius: 0 0 20px 0;
}

.koridor a:nth-child(1) {
    display: block;
    width: 160px;
}

.jurusan {
    position: relative;
    left: -43%;
    top: -20px;
    font-size: 8px;
    font-weight: bold;
    transition: 1s;
    z-index: -1;
}

.koridor ol li {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.koridor ol li a{
    color: black;
    padding-left: 5px;
    transition: 0.4s;
}

.koridor ol li a:hover {
    color: blue;
}

.satu {
    color: #447BC0;
}

.dua {
    color: #66CAD9;
}

.tiga {
    color: #ED1D2A;
}

.koridor li {
    text-align: left;
    padding-left: 50px;
    margin: 8px 0;
}

.bulupituA {
    font-size: 18px;
    font-weight: bold;
    color: #ED1D2A;
    text-shadow: 1px 1px #ED1D2A;
    margin-bottom: 20px;
}

.bulupituB {
    font-size: 18px;
    font-weight: bold;
    color: #a63592;
    text-shadow: 1px 1px #a63592;
    margin-bottom: 20px;
}

@media (max-width: 1300px){
    .jurusan {
        left: -42%;
    }
}

@media (max-width: 1100px){
    .jurusan {
        left: -41%;
    }
}

@media (max-width: 1000px){
    .jurusan {
        left: 0;
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .jurusan {
        display: none;
    }

    .koridors p {
        text-align: left;
        margin-left: 40px;
        color: red;
    }

    .bulupituA {
        margin-top: 15px;
    }

    .bulupituB {
        margin-top: 15px;
    }
}
