@import url(css-reset.css);
@import url(header.css);

.Sejarah h2{
    display: inline-block;
    text-align: center;
    width: 450px;
    margin: 30px 0 20px 360px;
}

.Sejarah img{
    width: 500px;
    height: 500px;
    float: right;
    margin: 20px;
}

.Sejarah{
    margin: 0px 100px 50px 100px;
    border-bottom: 5px solid #c4c4c4;
    font-family: 'Noto Serif', serif;
    line-height: 1.5em;
}

.Sejarah p{
    text-align: justify;
    margin-bottom: 10px;
    font-size: 16px;
}

.Struktur img{
    width: 100%;
}

.Struktur{
    text-align: center;
}

@media (max-width: 1000px) {
    .Sejarah h2{
        margin-left: 0;
    }

    .Sejarah img{
        width: 200px;
        height: 200px;
    }

}

@media (max-width: 1100px) {
    .Sejarah h2 {
        margin-top: 20px;
        margin-left:200px;
    }
}

@media (max-width: 800px) {
    .Sejarah h2 {
        margin-top: 20px;
        margin-left: 0px;
        
    }

    .Sejarah img{
        width: 200px;
        height: 200px;
    }

    .Sejarah {
        margin: 20px;
    }
}

@media (max-width: 600px) {
    .Sejarah h2 {
        margin-top: 20px;
        margin-left: 0px;
    }

    .Sejarah img{
        width: 200px;
        height: 200px;
    }

    .Sejarah {
        margin: 20px;
    }
}

@media (max-width: 500px){
    .Sejarah h2 {
        margin-top: 20px;
        margin-left: 0px;
        width: 350px;
    }

    .Sejarah img{
        width: 200px;
        height: 200px;
    }

    .Sejarah {
        margin: 20px;
    }
}